body {
  font-family: 'Roboto Condensed', sans-serif;
  background: #264653;
}

/*
SCSS RGB

$charcoal: #264653;
$persian-green: #2a9d8f;
$maize-crayola: #e9c46a;
$sandy-brown: #f4a261;
$burnt-sienna: #e76f51;
*/
