body {
  font-family: 'Roboto Condensed', sans-serif;
  background: #264653;
}

/*SCSS RGB

.class {
  color: #264653;
  color: #2a9d8f;
  color: #2a9d909c;
  color: #e9c46a;
  color: #f4a261;
  color: #e76f51;
}

*/